nav {
    margin-bottom: 20px;
}

footer {
    padding-bottom: 20px;
}

.white-space-pre {
    white-space: pre-wrap;
}

.progress {
  margin: 0;
  padding: 0;
  display: none;
}

.member-name {
    font-size: 20px;
}

.member-position {
    font-size: 15px;
}