nav {
    margin-bottom: 20px;
}

footer {
    padding-bottom: 20px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.white-space-pre {
    white-space: pre-wrap;
}

.progress {
    margin: 0;
    padding: 0;
    display: none;
}

.member-name {
    font-size: 20px;
}

.member-position {
    font-size: 16px;
}

.project-name {
    margin-top: 10px;
    font-size: 16px;
}

.full-width {
    width: 100%;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.bottom-sheet {
    max-height: 100% !important;
}

.link-box {
    margin-top: -20px;
}

.padding-small {
    padding: 10px;
}

.margin-small {
    margin: 10px;
}