{% extends "components/base.twig" %}

{% block scripts %}
<script src="{{ base_url }}/scripts/admin.js"></script>
{% endblock %}

{% block content %}
  <div class="container" style="padding: 10px;">

    <div class="panel panel-body">
      <div class="row" style="padding: 10px;">
        <div class="col-xs-9 col-sm-10">
          <h4 id="welcome" style="margin-top: 7px;">Welcome to Admin Panel</h4>
        </div>
        <div class="col-xs-3 col-sm-2">
          <button class="btn btn-primary" id="sign-in">Sign In</button>
        </div>
      </div>
    </div>

    <div id="account-detail" style="display: none;">

      <div class="col-md-3">
        <div class="list-group">
          <a href="#profile" id="tab-profile" class="list-group-item">Profile</a>
          <a href="#notification" id="tab-notification" class="list-group-item">Notification</a>
        </div>
      </div>

      <div class="col-md-9">

        <div id="profile" class="panel panel-default">
          <div class="panel panel-body">
            <form class="form-horizontal"  id="profile-form" style="margin: 10px;">
              <fieldset>
                <legend>Profile Settings</legend>
                <div class="text-center">
                  <img id="avatar" class="img-thumbnail" src="https://res.cloudinary.com/amuroboclub/image/upload/person.svg" style="height: 200px;" /><br>
                </div>
                <div class="form-group">
                  <label for="inputName" class="col-lg-2 control-label">Name</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputName" placeholder="Name" >
                  </div>
                </div>
                <div class="form-group">
                  <label for="select" class="col-lg-2 control-label">Profile Picture</label>
                  <div class="col-lg-10">
                    <select class="form-control" id="select">
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" id="save" class="btn btn-primary">Save</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>

        <div id="notification" class="panel panel-default">
          <div class="panel panel-body">
          <form class="form-horizontal"  id="notification-form" style="margin: 10px;">
              <fieldset>
                <legend>Send Notifications</legend>
                <div class="form-group">
                  <label for="title" class="col-lg-2 control-label">Title</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" id="title" placeholder="Notification Title" >
                  </div>
                </div>
                <div class="form-group">
                  <label for="message" class="col-lg-2 control-label">Message</label>
                  <div class="col-lg-10">
                    <textarea class="form-control" rows="1" name="message" id="message" placeholder="Notification Message"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="link" class="col-lg-2 control-label">Link</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" id="link" placeholder="Link URL (Optional)" >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Send</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>

      </div>

    </div>

  </div>
{% endblock %}