{% extends "components/base.twig" %}

{% block styles %}
    <link href="{{ base_url }}/css/admin.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.min.js"></script>
    <script src="{{ base_url }}/scripts/admin.js"></script>
{% endblock %}

{% block content %}
    <div class="container">

        <div class="card">
            <div class="row valign-wrapper" style="padding: 30px;">
                <div class="col m10 s12">
                    <h4 id="welcome">Welcome to Admin Panel</h4>
                </div>
                <div class="col m2 s12">
                    <button class="btn blue" id="sign-in">Sign In</button>
                </div>
            </div>
        </div>

        {{ include('components/loading.twig') }}

        <div id="account-detail" class="row" style="display: none">

            <div class="col m3 s12">
                <div class="collection">
                    <a href="#profile" id="tab-profile" class="collection-item active purple">Profile</a>
                    <a href="#notification" id="tab-notification" class="collection-item purple-text">Notification</a>
                </div>
            </div>

            <div class="col m9 s12">

                <div id="profile" class="card-panel">
                    <div class="margin-small">
                        <h5>Profile</h5>
                        <div class="center-align">
                            <img id="avatar" height="200"
                                 src="https://res.cloudinary.com/amuroboclub/image/upload/person.svg"/><br>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="inputName" type="text" class="validate">
                            <label class="active" for="inputName">Name</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">photo</i>
                            <select id="select"></select>
                            <label>Profile Pic</label>
                        </div>
                        <div class="row">
                            <div class="col s2 offset-s10">
                                <button type="submit" id="save" class="waves-effect waves-light btn purple right">Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="notification" class="card-panel">
                    <form class="margin-small" id="notification-form">
                        <h5 class="padding-small">Notification</h5>
                        <div class="input-field">
                            <i class="material-icons prefix">title</i>
                            <input id="title" type="text" class="validate">
                            <label for="title">Title</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea id="message" class="materialize-textarea"></textarea>
                            <label for="message">Notification Message</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">link</i>
                            <input id="link" type="text" class="validate">
                            <label for="link">Link (Optional)</label>
                        </div>
                        <div>
                            <p>
                                <input class="with-gap" name="sendOptions" type="radio" id="both" value="both" checked/>
                                <label for="both">Send notification and save to Announcements</label>
                            </p>
                            <p>
                                <input class="with-gap" name="sendOptions" type="radio" id="news" value="news"/>
                                <label for="news">Save to Announcements only</label>
                            </p>
                            <p>
                                <input class="with-gap" name="sendOptions" type="radio" id="noti" value="noti"/>
                                <label for="noti">Send notification only</label>
                            </p>
                        </div>
                        <div class="row">
                            <div class="col s2 offset-s10">
                                <button type="submit" id="send" class="waves-effect waves-light btn purple right">Send
                                </button>
                            </div>
                        </div>
                    </form>

                    <form class="margin-small" id="edit-form">
                        <h5 class="padding-small">Edit Announcement</h5>
                        <div class="input-field">
                            <i class="material-icons prefix">key</i>
                            <input id="newsKey" type="text" class="validate" placeholder="Key Value" disabled>
                            <label for="newsKey">Post Key</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea id="edit-message" class="materialize-textarea"
                                      placeholder="Announcement Message"></textarea>
                            <label for="edit-message">Announcement Message</label>
                        </div>
                        <div class="row">
                            <div class="col s8 offset-s4">
                                <button id="update-news" type="button" class="waves-effect waves-light btn purple">
                                    Update
                                </button>
                                <button id="delete-news" type="button" class="waves-effect waves-light btn red">Delete
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}