{% extends "components/base.twig" %}
{% block content %}
<div class="container">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="panel panel-default text-center" style="background-color: #607D8B;">
            <div class="panel-body">
                <h5 class="panel-text">News and Announcements</h5>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
    <div id="news-panel" class="col-md-8">
        <div id="progress-news" class="progress progress-striped active">
            <div class="progress-bar" style="width: 100%;margin: 0px; padding: 0px;"></div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dot/1.1.0/doT.min.js"></script>
<script src="{{ base_url }}/scripts/news.min.js"></script>
{% endblock %}