{% extends "components/base.twig" %}
{% block content %}
	<div class="container">
		<div class="col-md-1"></div>
		<div class="col-md-10">
		<div class="panel panel-default text-center" style="background-color: #607D8B;">
			<div class="panel-body">
				<h5 class="panel-text">News and Announcements</h5>
			</div>
		</div>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-2"></div>
		<div class="col-md-8">
			{% for news in news %}
				<div class="panel panel-default">
					<div class="panel-body">
						<i class="mdi mdi-newspaper mdi-36px vcenter" aria-hidden="true"></i>
						<div class="vcenter" style="font-size: 18px; display: inline; padding-left: 10px;">{{ news.notice }}</div>
						<div style="padding-top: 5px; font-size: 15px; color: #888;"><em> {{ news.date }} </em></div>
					</div>
					{% if news.link %}
						<a href="{{ news.link }}" style="text-decoration: none;">
							<div class="panel-footer" id="newspanel-footer">
								<i class="mdi mdi-link mdi-24px vertical-ali" style="padding-right: 5px;" aria-hidden="true"></i> View Download
							</div>
						</a>
					{% endif %}
				</div>
			{% endfor %}
		</div>
		<div class="col-md-2"></div>
	</div>
{% endblock %}