{% extends "components/base.twig" %}
{% block content %}
    <div class="container">
        {{ include('components/loading.twig') }}
        <div id="news-container">
            <div class="row">
                <div class="col m1"></div>
                <div class="col m10">

                    <div class="card-panel blue-grey center-align">
                        <h5 class="blue-grey-text text-lighten-4">News and Announcements</h5>
                    </div>
                </div>
                <div class="col m1"></div>
            </div>
            <div class="row">
                <div class="col m2"></div>
                <div id="news-panel" class="col m8">
                    {% for it in news %}
                        {{ include('news-item.twig') }}
                    {% endfor %}
                </div>
                <div class="col m1"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dot/1.1.0/doT.min.js"></script>
    <script src="{{ base_url }}/scripts/news.js"></script>
{% endblock %}