{% extends "components/base.twig" %}
{% block content %}
<div class="container">
    <div class="jumbotron" style="background: #A5D6A7;">
        <div class="container-fluid">
            <div class="text-center" style="color: #1B5E20;">
                <svg style="width:200px;height:200px" viewBox="0 0 24 24">
                    <path fill="#2E7D32" d="M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4M11,17V16H9V14H13V13H10A1,1 0 0,1 9,12V9A1,1 0 0,1 10,8H11V7H13V8H15V10H11V11H14A1,1 0 0,1 15,12V15A1,1 0 0,1 14,16H13V17H11Z" />
                </svg>
                <div class="lead">We are because of you!<br>Thanks for contributing and making us what we are!</div>
            </div>
        </div>
    </div>
    <div class="row" id="contributions">
        {% for contribution in contributions %}

        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body" style="font-size: 16px;">
                    <div class="text-center">
                        <i class="mdi mdi-coin mdi-48px" style="color: #FFC107;" aria-hidden="true"></i>
                        <div style="font-size: 18px;"><strong>{{ contribution.amount }}</strong></div>
                        <br>
                        <div><em><strong>Contributors :</strong></em><br> {{ contribution.contributor|split(',')|join(',<br>')|raw }}</div>
                        <div><em><strong>Purpose :</strong></em><br> {{ contribution.purpose }}</div>
                        <div><em><strong>Remark :</strong></em><br> {{ contribution.remark }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(window).ready(function() {
    	// Finding the maximum height and applying to all columns
    	var max = -1;
    	$('#contributions').children().each( function() {
    		height = $(this).outerHeight();
    		if(max<height) max = height;
    	});
    	console.log(max);
    	$('#contributions').children().each( function() {
    		$(this).outerHeight(max);
    	});
    });
</script>
{% endblock %}