{% extends "components/base.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col m1 s0"></div>
            <div class="col m10 s12">
                <div class="card-panel center-align indigo">
                    <h5 class="indigo-text text-lighten-4">Developers</h5>
                </div>
            </div>
            <div class="col m1 s0"></div>
        </div>
        <div class="row">
        <div class="col m2"></div>
        <div class="col m8">
            <div class="card center-align">
                <div class="card-content">
                    <img class="circle" width="150" height="150" src="https://res.cloudinary.com/amuroboclub/image/upload/old/members/thumbs/AreebJamal.jpg" />
                    <h5>Areeb Jamal</h5>
                </div>
                <div class="card-content grey lighten-4">
                    <a href="https://fb.me/iamareebjamal" target="_blank">
                        <button class="btn-floating btn-large waves-effect waves-light blue darken-2 tooltipped" data-tooltip="Facebook">
                        <i class="mdi mdi-facebook" aria-hidden="true"></i>
                        </button>
                    </a>
                    <a href="https://github.com/iamareebjamal" target="_blank">
                        <button class="btn-floating btn-large waves-effect waves-light grey darken-2 tooltipped" data-tooltip="Github">
                        <i class="mdi mdi-github-circle" aria-hidden="true"></i>
                        </button>
                    </a>
                    <a href="https://plus.google.com/+areebjamaliam" target="_blank">
                        <button class="btn-floating btn-large waves-effect waves-light red darken-2 tooltipped" data-tooltip="Google Plus">
                        <i class="mdi mdi-google-plus" aria-hidden="true"></i>
                        </button>
                    </a>
                </div>
            </div>

        </div>
        <div class="col m2"></div>
        </div>
    </div>
{% endblock %}