{% extends "components/base.twig" %}
{% block content %}
    <div class="container">
        <div class="card-panel row">
            <div class="col s12">
                <ul class="tabs tabs-fixed-width">
                    {% for download in downloads %}
                        <li class="tab col m1 s4"><a {% if loop.index == 1 %}class="active"{% endif %}
                                                     href="#{{ download.name }}">{{ download.name|title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="margin-small col s12">
                {% for download in downloads %}
                    <div class="tab-pane fade" id="{{ download.name }}">
                        {% for item in download.items %}
                            {{ include('download-item.twig') }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">

    </script>
{% endblock %}