{% extends "components/base.twig" %}
{% block content %}
<div class="container">
    {{ include('components/loading.twig') }}
    <div id="project-container" ></div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ base_url }}/scripts/project.js"></script>
{% endblock %}