{% extends "components/base.twig" %}
{% block content %}
    <div id="robocon-container">
        {{ include('./robocon-core.twig') }}
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ base_url }}/scripts/robocon.js"></script>
{% endblock %}