{% extends "components/base.twig" %}

{% block styles %}
<script src="https://www.gstatic.com/firebasejs/3.6.7/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.7/firebase-auth.js"></script>
<script src="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css" />
<script src="{{ base_url }}/scripts/signin.min.js"></script>
{% endblock %}

{% block content %}
<div class="container">
<div class="panel panel-default" style="background: #C5CAE9;">
    <div class="panel-body text-center">
        <h4 id="sign-in-status">Sign In</h4>
        <div id="firebaseui-auth-container"></div>
        <div id="admin-button">
          <a href="./admin" >
            <button class="btn btn-info">Go to Admin Panel</button>
          </a>
          <button id="sign-out" class="btn btn-danger">Sign Out</button>
        </div>
    </div>
</div>
	
</div>

{% endblock %}