{% extends "components/base.twig" %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css" />
{% endblock %}

{% block content %}
<div class="container">
<div class="card-panel center-align indigo lighten-4">
        <h4 id="sign-in-status">Sign In</h4>
        <div id="firebaseui-auth-container"></div>
        <div id="admin-button" style="display: none">
          <a href="./admin" >
            <button class="btn btn-info">Go to Admin Panel</button>
          </a>
          <button id="sign-out" class="btn btn-danger">Sign Out</button>
        </div>
</div>
	
</div>

{% endblock %}

{% block scripts %}

<script src="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js"></script>
<script src="{{ base_url }}/scripts/signin.js"></script>
{% endblock %}