{% extends "components/base.twig" %}
{% block content %}
	<div class="container">
		<div class="panel panel-default text-center" style="background-color: #673AB7;">
			<div class="panel-body">
				<h5 class="panel-text">Faculty</h5>
			</div>
		</div>
		<div class="panel panel-default text-center" style="background-color: #3F51B5;">
			<div class="panel-body">
				<h5 class="panel-text">Co-Ordinators</h5>
			</div>
		</div>
		<div class="row">
			
		</div>
		<div class="panel panel-default text-center" style="background-color: #2196F3;">
			<div class="panel-body">
				<h5 class="panel-text">Joint Co-Ordinators</h5>
			</div>
		</div>
		<div class="panel panel-default text-center" style="background-color: #009688;">
			<div class="panel-body">
				<h5 class="panel-text">Technical Team</h5>
			</div>
		</div>
		<div class="panel panel-default text-center" style="background-color: #FF5722;">
			<div class="panel-body">
				<h5 class="panel-text">Volunteers</h5>
			</div>
		</div>
	</div>
{% endblock %}