<footer class="footer">
	<div class="container text-center" style="padding-bottom: 10px;">
		<span>© AMU Roboclub {{ "now"|date('Y') }}-{{ "now"|date('y')+1 }} &nbsp;</span>
		<div>
			<a href="https://www.facebook.com/groups/amuroboculb/" target="_blank">
				<button class="fab" style="background-color: #283593;">
				<i class="mdi mdi-facebook" aria-hidden="true"></i>
				</button>
			</a>
			<a href="https://www.youtube.com/channel/UCKTQZXhxAWfhz1Mb8c2UKTg" target="_blank">
				<button class="fab" style="background-color: #c62828;">
				<i class="mdi mdi-youtube-play" aria-hidden="true"></i>
				</button>
			</a>
			<a href="https://plus.google.com/117931649297311148189" target="_blank">
				<button class="fab" style="background-color: #f44336;">
				<i class="mdi mdi-google-plus" aria-hidden="true"></i>
				</button>
			</a>
		</div>

	</div>
</footer>