<footer class="page-footer grey lighten-2">
    <div class="container center-align">
        <h6>© AMU Roboclub {{ "now"|date('Y') }}-{{ "now"|date('y')+1 }}</h6>
        <div>
            <a href="https://www.facebook.com/groups/amuroboculb/" target="_blank">
	            <button class="btn-floating btn-large waves-effect waves-light indigo darken-2">
	            <i class="mdi mdi-facebook" aria-hidden="true"></i>
	            </button>
            </a>
            <a href="https://www.youtube.com/channel/UCKTQZXhxAWfhz1Mb8c2UKTg" target="_blank">
	            <button class="btn-floating btn-large waves-effect waves-light red darken-2">
	            <i class="mdi mdi-youtube-play" aria-hidden="true"></i>
	            </button>
            </a>
            <a href="https://plus.google.com/117931649297311148189" target="_blank">
	            <button class="btn-floating btn-large waves-effect waves-light red" >
	                <i class="mdi mdi-google-plus" aria-hidden="true"></i>
	            </button>
            </a>
        </div>
    </div>
</footer>