<div id="loading-container" class="row padding-10">
    <div class="col-md-1"></div>
    <div class="col-md-10 text-center">
        <img src="http://res.cloudinary.com/amuroboclub/image/upload/loading-animated.svg"></img>
    </div>
    <div class="col-md-1"></div>
</div>